#header{
  color: green;
  text-align: center;
}
.intro{
  text-align: left;
  padding-bottom: 30px;
  padding-left: 30px;
  padding-right: 30px;
  height: 100px;
}
.Jumbotron{
  background-color: grey;
}

.row{
  columns: 2;

}
.men{
  padding-left: 40px;
  padding-top: 0px;
}
.col{
  padding-bottom: 5px;
}
.web{
  background-color: lightgrey;
}
.list{
  text-align: center;
}
.form{
  text-align: center;

}
