.header{
  color: green;
  text-align: center;
}
.intro{
  text-align: left;
  padding-left: 30px;
  padding-right: 30px;
  height: 150px;
}
.Jumbotron{
  background-color: grey;
}

.row{
  columns: 2;
}
.web{
  background-color: lightgrey;
}
.list{
  text-align: center;
}
.form{
text-align: center;
  height: 360px;
background-size: contain;
background-position: center;
background-image: url(../images/child.jpg
);
  padding: 10px;
  padding left: 20px;
  width: 680px;
border-left: 10px;
box-sizing: border-box;
}
img{
  width: 50px;
}
